body{
    padding: 0;
    margin: 0;
    background-color: navajowhite;

}
.Paragraph{
    color:coral;
    text-align: center;
    font-weight: bolder;
    text-shadow:2px 2px 5px;                              ;
}

.links{
    gap: 30px;
    font-size:x-large;
    padding-right:2% ;
}
.form{
    gap: 20px;
    text-align: center;
    display: flex;
    margin: auto;
    width: 400px;
    height: 400px;
    flex-direction: column;
    font-size: 100%;
}

 .image{
    text-align: right;
    padding-top: 30px;
    display:block;
    text-decoration: none;
}
.Message{
    background-color:plum;
}
.Footer{
   text-align:center;
   background-color: black;
   color: whitesmoke;
   gap: 12px;
   position: relative;
   text-decoration: none;

}
.Contact{
    text-align: center;
}

.picture{
    padding: 10%;
    gap: 30%;
    text-align: center;
    display: flex;
    height:200px ;
    width: 200px;
}
.Project{
    text-align: center;
}
.About {
         text-align: center;
        font-family: "Italianno", cursive;
        font-weight: 400;
        font-style: normal;    

}
.image{
    border-radius: 50px;
    padding: 15 px;
    flex-wrap: nowrap;
    display: flex;
    padding-right: 30px;

}
.intro{
    text-align: center;
}
.Intro{
 
    font-family: Dancing Script,cursive;
    text-align: center;

}
@media (max-width: 550px){
.hamburger{
    flex-direction: column;
    gap: 5px;
}
.nav-links{
    display: none;
    flex-direction: column;
    border-color: wheat;
    position: absolute;
    top: 60px;
    right: 15px;
    padding: 15px;
    border-radius: 8px;
    list-style-type: none;
     padding-left: 0;
}

}
.Can{
    display: flex;
}
.Card{
    text-align: center;
    text-shadow: 200%;
    
}
.project-Card-hover{
    border-color: aqua;
}
.Text{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.images{
    flex-wrap:wrap-reverse;
}
 
